<app-navbar></app-navbar>


<header>
    <audio class="d-none" src="assets/music/anzelYaGamel.mp3" autoplay *ngIf="!wentToPhotos"></audio>
    <audio class="d-none" src="assets/music/yaNas.mp3" autoplay loop *ngIf="wentToPhotos"></audio>
    <div class="content black-overlay">
        <div class="curved-bg">
            <div class="card bg-white mb-3 text-dark text-center no-border-for-phones border-secondary vertical-center " style="max-width: 80%; height: 50vh;">
                <div 
                class="card-body vertical-center-y adjust-lines">
                  <h5 class="card-title animated">بيبو هانم</h5>
                  
                  <p> يا رب تبقي على طول مبسوطة و سعيدة و يا رب دايما كل سنة و عيد ميلادك اروع من اللي قبله ♥ </p>
                  <p class="card-text">كلنا بنقولك كل سنة و انتي طيبة يا اهم واحدة في حياتنا..عاوزه تعرفي مين كلنا؟؟</p>
                  <p class="card-text">تعالي بس نعملك عيدميلادك الاول</p>
                  <button 
                  class="btn btn-block btn-secondary"
                  (click)="goToPhotos()">يلااا</button>
                  <button
                  class="btn btn-block btn-primary adjust-lines"
                  [routerLink]="['/','videos']">{{videosButton}}</button>
                </div>
            </div>
        </div>
    </div>
</header>




<main class="colored-bg" #photoSection>        
        <div class="container">
                    
                    <app-photo-collection></app-photo-collection>


            
        </div>
</main>