header{
    background-image: url('../../assets/photos/birthday/brooke-lark-pGM4sjt_BdQ-unsplash.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 50%;
    height: 100vh;
    position: relative;
    margin-bottom: 300px;
}
.content{
    position: relative;
}
.curved-bg{
 position: absolute;
 right: 0;
  height: 100vh;
  width: 45%;
  overflow: hidden;
  border-radius: 50% 0 0 50%;
  background-color: #fff;
}
@keyframes moving{
    0% {transform: translateX(0px);}
    25% {transform: translateX(50px); color: #78C2AD; }
    50% {transform: translateX(0px);}
    75% {transform: translateX(-50px); color: #F3969A;}
    100% {transform: translateX(0px);}
}
.animated{
    animation-name: moving;
    animation-duration: 1s;
    animation-iteration-count: 8;
}


.colored-bg{
background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
background-blend-mode: multiply,multiply;
}


@media only screen and (max-width: 640px) {
    .no-border-for-phones {
        border: none;
    }
    .adjust-lines{
        line-height: 1rem;
    }
  }