
<div class="text-center mb-5">
    <h1 *ngIf="!isThereVideo">No video</h1>

    <!-- <p>{{displayedVideo}}</p>
    <h1>{{displayedVideoId}}</h1> -->
    <video 
    #video
    style="height: 100vh;"
    class="video-border"
    (play)="onPlay()"
    (pause)="onPause()"
    (timeupdate)="onChangeTime()"
    [src]="displayedVideo" 
    controls 
    width="100%" 
    autoplay>
    </video>
    <div 
    #giftDiv
    *ngIf="gift&&(displayedVideoId===0)">
        <a href="https://husam287.github.io/memosland/"><i class="fas fa-gift fa-7x text-danger"></i></a>
    </div>
</div>



