.video-border{
    border-bottom: 2px dashed #F3969A;
    border-top: 2px dashed #F3969A;
    border-right: 2px dashed #F3969A;
    border-left: 2px dashed #F3969A;



	
        box-shadow: inset -1px -1px 0 0 #F3969A, inset 1px 1px 0 0 #F3969A, 1px 1px 0 0 #F3969A, -1px -1px 0 0 #F3969A;
	
}
.video-border:focus{
    outline: none;
}

.video-border:hover{
    border: none;
}
