.headerBeforePhase1{
    background-image: url('../../assets/photos/birthday/caterina-berger-ETGJjk9o-48-unsplash.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100vh;
}
.headerAfterPhase1{
    background-image: url('../../assets/photos/birthday/birthdayWallpaper2.jpg');
    background-size:cover;
    background-position: 50%;
    background-repeat: repeat;
    height: 100vh;

}

.zoom:hover{
    zoom: 1.1;
}

@keyframes moving{
    0% {transform: translateX(0px);}
    25% {transform: translateX(50px); color: #78C2AD; }
    50% {transform: translateX(0px);}
    75% {transform: translateX(-50px); color: #F3969A;}
    100% {transform: translateX(0px);}
}
.animated{
    color: white;
    animation-name: moving;
    animation-duration: 1s;
    animation-delay: 7s;
    animation-iteration-count: 50;
}

