<header>
    <div class="black-overlay">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" *ngIf="!phase1Ended">
                    <div>
                        <h2 class="text-light mt-5">
                            يااااا بيبووووو
                        </h2>
                        <p class="text-light">
                            غني شويه مع الاغنية واتمني أمنية و انفخي الشمع هوووف
                        </p>
                        <button 
                        class="btn btn-outline-dark"
                        (click)="phase1()">
                            <i class="fas fa-smile-wink"></i>
                            تمام طفيت
                        </button>
                    </div>  
                </div>
                <div *ngIf="phase1Ended" class="vertical-center text-center">
                    <h2 class="text-light" style="margin-bottom: 100px;">
                        Are You Readyyyyyyyyyyyyy !!!
                    </h2>
                
                    <div [routerLink]="['/birthday']" class="zoom btn-group-lg" role="group" aria-label="Basic example">
                        <button type="button" class="btn-lg btn btn-light text-dark">Aywaaaa</button>
                        <button type="button" class="btn-lg btn btn-dark"><i class="fas fa-angle-double-right"></i></button>
                      </div>
                </div>       
            </div>
        </div>
    </div>
</header>
