<header [ngClass]="phase1Ended? 'headerAfterPhase1':'headerBeforePhase1'">
    <div class="black-overlay">
        <div class="container">
            <div class="row">
                                    <!--Phase 1-->
                <div class="col-12 text-center" *ngIf="!phase1Ended">
                    <audio src="assets/music/minions.mp3" class="d-none" autoplay></audio>
                    <div>
                        <h2 class=" mt-5 animated">
                            يااااا بيبووووو
                        </h2>
                        <p class="text-light">
                            غني شويه مع الاغنية واتمني أمنية و انفخي الشمع هوووف
                        </p>
                        <button 
                        class="btn btn-outline-dark"
                        (click)="phase1()">
                            <i class="fas fa-smile-wink"></i>
                            تمام طفيت
                        </button>
                    </div>  
                </div>
                                    <!--Section after phase 1 end-->
                <div *ngIf="phase1Ended" class="vertical-center text-center">
                    <h1 class="text-danger" style="font-family: fantasy;">Habiba's birthday Party</h1>
                    <h4 class="text-light  typewriter" style="margin-top: 50px;">
                        Are You Readyyyyyyyyyyyyy !!!
                    </h4>
                
                    <div [routerLink]="['/birthday']" class="zoom btn-group-lg" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-primary mr-1">Aywaaaa</button>
                        <button type="button" class="btn btn-outline-secondary"><i class="fas fa-angle-double-right"></i></button>
                      </div>
                </div>       
            </div>
        </div>
    </div>
</header>
