<app-navbar *ngIf="!played"></app-navbar>

<audio src="assets/music/videosTrack.mp3" #soundTrack autoplay></audio>
<main class="">
    
    <div class="container">
        <div class="row">
            <div class="col-12 text-center "
                 style="min-height: 100vh;">
                
                    <div>
                        <router-outlet></router-outlet>
                        
                        
                        <app-btns></app-btns>
                        
                    </div>
                
            </div>
        </div>
    </div>

</main>


