<app-navbar></app-navbar>


<main class="mt-5">
    
    <div class="container">
        <div class="row">
            <div class="col-12 text-center ">
                <div style="min-height: 100vh;">
                    <div class="vertical-center">
                        <router-outlet></router-outlet>
                        <div>
                            <app-btns></app-btns>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>


