

<button 
class="btn btn-sm btn-success mx-1 mb-2 fade-out"
[routerLink]="info.id"
(click)="onClicked()">
<!--Before Click-->
<div *ngIf="!info.clicked">
    <span>
        <img src="assets/photos/birthday/unknown.jpg" alt="!" width="50px" height="50px">
    </span>
    <span> <span class="mx-1">|</span> ? ? ? </span>
</div>

<!--After Click it-->
<div *ngIf="info.clicked">
    <span>
        <img [src]="info.photo" alt="!" width="50px" height="50px">
    </span>
    <span> <span class="mx-1">|</span> {{info.name}}</span>
</div>
</button>